.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: black;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.menu-root {
    display: flex;
    align-items: center;
  }

.logo {
    height: 30px; 
    margin-left: 20px; 
  }