.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.landing-logo {
    height: 300px;
    filter: invert(1);
    border-radius: 50%;
}