.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.camera-content, .image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam, .captured-image {
  max-width: 100%;
  height: auto;
}

.open-camera-button, .submit-button {
  margin-top: 20px;
}

.submit-button {
  position: static;
}
