.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

.camera-content, .image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam, .captured-image {
  max-width: 100%;
  height: 40vh;
  background-color: rgba(34, 62, 200, 0.1);
  border: 1px solid rgb(34, 62, 200);
}

.icon-button {
  background: none;
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s;
  background-color: rgba(34, 62, 200, 0.1);
  border: 1px solid rgb(34, 62, 200);
  border-radius: 7px;
  padding: 5px 10px;
  margin: 10px;
}

.icon-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.open-camera-button, .submit-button {
  margin-top: 20px;
}

.response-message {
  margin-top: 20px;
  font-size: 16px;
  color: rgb(34, 62, 200, 0.2);
}

.submit-button {
  position: static;
  background-color: rgb(34, 62, 200, 0.2);
  border: 1px solid rgb(34, 62, 200, 1);
  border-radius: 7px;
  padding: 5px 10px;
}


